
body {
  background-color: #fff;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
h4 {
  text-transform: uppercase;
  font-weight: bold;
}
main {
  margin: 150px auto;
  width: 210mm;
  min-height: 297mm;
  background-color: #fff;
  box-shadow: 0 0 50px lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* head section */
.head-section {
  display: flex;
  justify-content: space-between;
}
.photo {
  background-image: url('img/image-removebg-preview.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex-basis: 300px;
  height: 200px;
}
.head-title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.head-title {
  text-align: center;
}
.head-title > h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* head section */
/* networks-section */
.networks-section {
  background: rgb(32, 32, 32);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px;
}
.blocks-networks {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: snow;
  font-size: 15px;
}
.blocks-networks > img {
  margin-right: 10px;
}
.line-networks {
  height: 50%;
  border: 1px solid snow;
}

/* networks-section */

.content {
  flex-grow: 1;
  display: flex;
}

/* left section */
.content-section-left {
  flex: 1 0 calc(300px - 40px);
  background: #c8d7f6;
  padding-top: 40px;
  padding-left: 40px;
}
.content-section-left-line {
  border: 1px solid black;
  margin-top: 10px;
}
.content-section-left ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.block {
  margin-bottom: 7px;
}
.block > a {
  display: flex;
  text-decoration: none;
  color: inherit;
}
.block > a > p {
  margin-left: 10px;
  list-style-type: none;
  line-height: 1.5;
  font-size: 15px;
  opacity: 0.8;
}
.contect-section-subtitle {
  margin-top: 40px;
}
.contect-section-subtitle > h5 {
  padding-top: 20px;
}
.contect-section-subtitle > p {
  padding-top: 20px;
}

.education-list li {
  margin-bottom: 20px;
}
.education-list h5 {
  font-weight: bold;
  margin-bottom: 5px;
}
.education-list .date {
  font-size: 14px;
  opacity: 0.7;
  font-style: italic;
}

/* SKILLS */
ul.skill-list {
  /* align-items: flex-start; */
  flex-direction: row;
}
.skill-list li {
  padding: 5px;
  background-color: #5c77a5;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}
/* SKILLS */
/* left section */
/* right section */
.content-section-right {
  background-color: rgba(255, 255, 255, 0.85);
}
.content-section-right-line {
  border: 1px solid grey;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.content-section-subtitle-right {
  width: 85%;
  padding-left: 40px;
  padding-top: 40px;
}
.content-section-right-text p {
  margin-top: 20px;
  width: 85%;
  line-height: 1.5;
  font-size: 15px;
}
.content-section-subtitle-right h5 {
  margin-top: 20px;
  width: 85%;
  line-height: 1.5;
}
.content-section-subtitle-right ul {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 15px;
}
.experience-position {
  font-weight: bold;
}
.experience-company {
  font-size: 14px;
  font-style: italic;
}
.experience-desc {
  opacity: 0.8;
  line-height: 1.5;
  font-size: 15px;
}
.subtitle-text {
  padding-top: 20px;
}
/* right section */
@media (max-width: 425px){
  .content{
    flex-direction: column;;    
  }
  .content > .content-section-left {
    padding-bottom: 20px;
  }
  main{
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .head-section  {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    padding-bottom: 20px;
  }
  .head-section .photo {
    width: calc(100% - 40px) ;
  }
  .networks-section {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .networks-section > a {
    padding: 20px 0;
  }
  .head-title {
    flex-grow: none;
    flex-direction: column;
    align-items: flex-start;
  }
  .line-networks {
    width: 100%;
    border: 1px solid snow;
    margin: 0;
  }
  .content-section-right{
    padding-bottom: 40px;
  }
}