* {
  margin: 0;
  padding: 0;
}
body {
  background-color: grey;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
main {
  margin: 150px auto;
  width: 210mm;
  height: 297mm;
  background-color: rgba(255, 255, 255, 0.85);
}
/* head section */
.head-section {
  display: flex;
  justify-content: space-between;
}
.photo {
  background-image: url('img/image.png');
  background-position: center;
  background-size: cover;
  flex-basis: 250px;
  height: 200px;
}
.head-title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.head-title {
  text-align: center;
}
.head-title > h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* head section */
/* networks-section */
.networks-section {
  background: rgb(32, 32, 32);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.blocks-networks {
  display: flex;
  align-items: center;
}
.line-networks {
  height: 50%;
  border: 1px solid snow;
}
.networks-name > p {
  color: snow;
  font-size: 15px;
  margin-left: 10px;
}
/* networks-section */

.content {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
}

/* left section */
.content-section-left {
  width: 210px;
  height: calc(100%-40px);
  background: skyblue;
  padding-top: 40px;
  padding-left: 40px;
}
.content-section-left-line {
  border: 1px solid black;
  margin-top: 10px;
}
.block {
  display: flex;
}
.content-section-left ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.block li {
  margin-left: 10px;
  list-style-type: none;
  line-height: 1.5;
  font-size: 15px;
}
.content-section-left li {
  list-style-type: none;
  line-height: 1.5;
  font-size: 15px;
}
.contect-section-subtitle {
  margin-top: 40px;
}
.contect-section-subtitle > h5 {
  padding-top: 20px;
}
.contect-section-subtitle > p {
  padding-top: 20px;
}
/* SKILLS */
.skills-line {
  display: flex;
  padding-right: 30px;
  padding-top: 10px;
}
.skills-line-last {
  display: flex;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
}
.black-line {
  border: 3px solid black;
  width: 70%;
}
.grey-line {
  border: 3px solid grey;
  width: 30%;
}
/* SKILLS */
/* left section */
/* right section */
.content-section-right {
  background-color: rgba(255, 255, 255, 0.85);
}
.content-section-right-line {
  border: 1px solid grey;
  margin-top: 10px;
  width: 85%;
}
.content-section-subtitle-right {
  width: 100%;
  padding-left: 40px;
  padding-top: 40px;
}
.content-section-right-text p {
  margin-top: 20px;
  width: 85%;
  line-height: 1.5;
  font-size: 15px;
}
.content-section-subtitle-right h5 {
  margin-top: 20px;
  width: 85%;
  line-height: 1.5;
}
.content-section-subtitle-right ul {
  margin-left: 20px;
  margin-top: 20px;
  width: 85%;
  line-height: 1.5;
  font-size: 15px;
}
.subtitle-text {
  padding-top: 20px;
}
/* right section */
